body {
    color: $color-base;
    padding: 0;
    margin: 0;

    #main-wrapper {
        width: 100%;
        height: 100%;
    }
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: transform 0.5s ease;
  transform: translate3d(100%, 0, 0);

  &.is-visible {
    transform: translate3d(0, 0, 0);
  }
}
