#ces {
  background: #ffffff;
  
  #ces-canvas {}

  #ces-details-section {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #000;

    .ces-details {
      position: absolute;
      top: 28%;
      bottom: 0;
      right: 18%;
      width: 400px;
      height: 500px;
      text-align: left;
    }

    #ces-details-close {
      position: absolute;
      right: 140px;
      top: 140px;
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}
