#contact-section {

  #contact-wrapper {
    width: 100%;
    height: 100%;

    #contact-header {
      width: 100%;
      height: 308px;
      padding: 18% 5% 0 5%;
      background: #cdcdcd;
    }

    #contact-form-section {
      width: 100%;
      height: 100%;
      height: auto;
      background: #ffffff;

      form {
        padding-top: 12%;
      }
    }
  }
}
