#journey {
  width: 100%;
  height: 100%;

  #fullpage {
    .content-wrap {
      opacity: 0;
      -webkit-animation-name: fadeInDown !important;
  	  animation-name: fadeInDown !important;
      -webkit-animation-duration: 1.2s !important;
      animation-duration: 1.2s !important;
      -webkit-transition: opacity 1.2s ease !important;
      transition: opacity 1.2s ease !important;
    }

    .content-wrap.slide-in {
      opacity: 1;
  	  -webkit-animation-name: fadeInUp !important;
  	  animation-name: fadeInUp !important;
    }

    .scroll-indicator {
      position: absolute;
      bottom: 0;
      top: 90%;
      left: 48%;
      display: block;
      width: 50px;
      height: 50px;
      z-index: 1000;
    }
  }

  #sidebar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    width: 150px;
    background: transparent;
    border-left: 1px solid #ffffff;
    -webkit-transition: all .5s ease !important;
    transition: all .5s ease !important;

    &.open {
      width: 350px;
      background: rgba(0, 0, 0, 0.6);

      .content {
        visibility: visible;
      }
    }

    .content {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      visibility: hidden;
    }

    .toggle-btn {
      display: block;
      position: absolute;
      top: 50%;
      left: -6px;
    }
  }
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

	100% {
    opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes fadeInDown {
  0% {
    opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}
