#navigation {
  background: transparent;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 80px;

  .menu-link {
    float: right;

    .navbar-toggle {
      .icon-bar {
        background: green;
        transition: all 0.2s;
      }

      &.collapsed {
        .top-bar {
          transform: rotate(0);
        }
        .middle-bar {
          opacity: 1;
        }
        .bottom-bar {
          transform: rotate(0);
        }
      }

      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }

    a {
      display: block;
      width: 32px;
      height: 32px;
    }
  }
}

#menu {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.7);


  ul {
    height: 500px;
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    padding-left: 22%;

    li {
      list-style: none;

      a {
        display: block;
        color: green;
        font-size: 60px;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: block !important;
  }
}
