#persona {
  width: 100%;
  height: 100%;
  background: yellow;

   .persona-section-wrapper {
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 1000;

     .persona-section {
       height: 100%;

       .options {
         top: 50%;
       }
     }
   }

   .persona-section-bg {
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;

     &.left {
       z-index: 200;
       background: #999;
       -webkit-clip-path: polygon(0 0, 39.4% 0, 59.4% 100%, 0% 100%);
               clip-path: polygon(0 0, 39.4% 0, 59.4% 100%, 0% 100%);
     }

     &.right {
       z-index: 100;
       background: #333;
       -webkit-clip-path: polygon(40.4% 0, 100% 0, 100% 100%, 60.4% 100%);
               clip-path: polygon(40.4% 0, 100% 0, 100% 100%, 60.4% 100%);
     }
   }
}
