#story-options {
  height: 100%;
  background: cyan;

  #story-option-wrapper {
    height: 100%;

    .story {
      height: 100%;
      position: relative;

      .story-content {
        position: absolute;
        bottom: 225px;
      }
    }
  }

}
