<div id="menu">
  <ul>
    <%
      for (i in stories) {
        _.each(stories[i], function(story) {
    %>
          <li><a href="#"><%= story.name %></a></li>
    <%
        });
      }
    %>
    <li><a href="#">Ces</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
