<div id="sidebar">
  <%
    _.each(data.get('storypoints'), function(storypoint, index) {
      if (storypoint.sideBar) {
  %>
        <div class="content" data-index="<%= index %>">
          <h2><%= storypoint.sideBar.title %></h2>
          <p><%= storypoint.sideBar.content %></p>
        </div>
  <%
      } else {
  %>
        <div class="content" data-index="<%= index %>"></div>
  <%
      }
    });
  %>
  <a class="toggle-btn" href="#">
    <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
  </a>
</div>
