<p>wijeofeoifjefeofjoifijo</p>
<div id="fullpage">
  <% _.each(data.get('storypoints'), function(storypoint, index) { %>
    <div class="section" data-index=<%= ""+index+""%>>
      <div class="content-wrap">
        <%
            if (index==0) {
        %>
          <p class="sub-title"><%= storypoint.subTitle %></p>
        <%
            }
        %>
          <h1><%= storypoint.title %></h1>
          <p class="story"><%= storypoint.content %></p>
      </div>
    </div>
  <% }); %>
    <div class="section" id="ces" data-index=<%= data.get('storypoints').length %>></div>
    <div class="section" id="contact-section" data-index=<%= data.get('storypoints').length %>></div>
</div>
