<div class="persona-section-wrapper">
  <div class="col-md-6 persona-section">
    <div class="col-md-12 options">
      <a href="" class="type" data-type="personal">Personal</a>
    </div>
  </div>
  <div class="col-md-6 persona-section">
    <div class="col-md-12 options">
      <a href="#" class="type" data-type="business">Business</a>
    </div>
  </div>
</div>
<div class="persona-section-bg left"></div>
<div class="persona-section-bg right"></div>
