<div id="story-option-wrapper">
  <%
      _.each(data, function(story, index) {
  %>
        <div class="col-md-<%=divNum%> story">
          <div class="story-content col-md-12">
            <h1><%= story.get('name') %></h1>
            <p><%= story.get('role') %></p>
            <button class="type" value=<%= ""+index+""%>>Business</button>
          </div>
        </div>
  <%
      });
  %>
</div>
