<canvas id="ces-canvas" width="1200" height="900" resize></canvas>
<div id="ces-details-section">
  <div class="ces-details"></div>
  <a id="ces-details-close">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</div>
